<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" type="text/css" href="./css/homestyle.css">
    <title>Skywalker Saga</title>
</head>

<body>
<h1>Star Wars Reviews</h1>

<h2 th:each="category:${categories}"><a th:href="@{'/category/'+ ${category.location}}"
                                    th:text="${category.location}">Trilogy</a>
</h2>


</body>

</html>